In [1]:
import pandas as pd # type: ignore
import numpy as np # type: ignore

In [2]:
import datetime
import time

In [66]:
df_customer = pd.read_csv("customer_info.csv")
df_platform_log = pd.read_csv("platform_visit_log.csv")

In [16]:
df_customer.head()

,user_id,first_name,last_name,email,age,occupation,nationality
0,Yh9rhW77,Amy,Morse,amymorse@example.com,32,Engineer,Madagascar
1,quwnosQd,Cathy,Garcia,cathy397@example.com,49,Engineer,American Samoa
2,uEWRqkrT,Joshua,Nelson,joshuanelson@example.com,24,Student,Singapore
3,2Cv6NK2q,Leonard,Clark,leonard930@example.com,44,Doctor,Samoa
4,ffGhcEtG,Scott,Mcdonald,scottmcdonald@example.com,29,Accountant,Reunion

In [19]:
df_customer.dtypes

user_id        object
first_name     object
last_name      object
email          object
age             int64
occupation     object
nationality    object
dtype: object

In [17]:
df_platform_log.head()

         date entry_time exit_time   device   user_id
0  2023-01-01   19:24:53  20:52:53   Tablet  OPjXgj1U
1  2023-01-02   12:36:18  14:19:18   Mobile  q0bmB5Ty
2  2023-01-02   14:53:57  15:38:57   Tablet  ONQuwiIc
3  2023-01-02   21:59:46  23:18:46  Desktop  JFTGhGxj
4  2023-01-03   07:52:57  09:37:57  Desktop  IayiHcTG

In [18]:
df_platform_log.dtypes

date          object
entry_time    object
exit_time     object
device        object
user_id       object
dtype: object

In [67]:
# Convert date to YYYY-MM-DD
df_platform_log['date'] = pd.to_datetime(df_platform_log['date'])

# Extract the month for each entry session
df_platform_log['entry_time_month'] = df_platform_log['date'].dt.month
df_platform_log['entry_time_month'] = df_platform_log['entry_time_month'].astype(int)

# Convert entry time to datetime (YYYY-MM-DD HH:MM:SS)
df_platform_log['entry_time'] = pd.to_datetime(df_platform_log['entry_time'], format='%H:%M:%S')

# Extract the hour of the entry time for each session
df_platform_log['entry_time_hour'] = df_platform_log['entry_time'].dt.strftime('%H')
df_platform_log['entry_time_hour'] = df_platform_log['entry_time_hour'].astype(int)

# Convert exit time to datetime (YYYY-MM-DD HH:MM:SS)
df_platform_log['exit_time'] = pd.to_datetime(df_platform_log['exit_time'], format= '%H:%M:%S')

# Get the session period
df_platform_log['active_period'] = df_platform_log['exit_time'] - df_platform_log['entry_time']

# Rectify the -1 day active period due to exit time after 00 hour
time_change = datetime.timedelta(hours=24)
df_platform_log['exit_time_hour'] = df_platform_log['exit_time'].dt.strftime('%H')
df_platform_log['exit_time_hour'] = df_platform_log['exit_time_hour'].astype(int)
df_platform_log['active_period'][(df_platform_log['entry_time_hour'] != 0) & (df_platform_log['exit_time_hour'] == 0)] += time_change

# Covert the time related columns to HH:MM:SS
df_platform_log['entry_time'] = df_platform_log['entry_time'].dt.time
df_platform_log['exit_time'] = df_platform_log['exit_time'].dt.time
#df_platform_log['active_period'] = pd.to_datetime(str(df_platform_log['active_period']))
#df_platform_log['active_period'] = df_platform_log['active_period'].dt.time

# Get the day of week for each session
df_platform_log['day_of_week'] = df_platform_log['date'].dt.day_of_week
df_platform_log['day_of_week'] = df_platform_log['day_of_week'].astype(str)
df_platform_log['day_of_week'] = df_platform_log['day_of_week'].replace('0', 'Monday')
df_platform_log['day_of_week'] = df_platform_log['day_of_week'].replace('1', 'Tuesday')
df_platform_log['day_of_week'] = df_platform_log['day_of_week'].replace('2', 'Wednesday')
df_platform_log['day_of_week'] = df_platform_log['day_of_week'].replace('3', 'Thursday')
df_platform_log['day_of_week'] = df_platform_log['day_of_week'].replace('4', 'Friday')
df_platform_log['day_of_week'] = df_platform_log['day_of_week'].replace('5', 'Saturday')
df_platform_log['day_of_week'] = df_platform_log['day_of_week'].replace('6', 'Sunday')

print(df_platform_log.dtypes)
df_platform_log.head()

date                 datetime64[ns]
entry_time                   object
exit_time                    object
device                       object
user_id                      object
entry_time_month              int64
entry_time_hour               int64
active_period       timedelta64[ns]
exit_time_hour                int64
day_of_week                  object
dtype: object

C:\Users\1\AppData\Local\Temp\ipykernel_40060\1774728542.py:25: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_platform_log['active_period'][(df_platform_log['entry_time_hour'] != 0) & (df_platform_log['exit_time_hour'] == 0)] += time_change
C:\Users\1\AppData\Local\Temp\ipykernel_40060\1774728542.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_platform_log['active_period'][(df_platform_log['entry_time_hour'] != 0) & (df_platform_log['exit_time_hour'] == 0)] += time_change

,date,entry_time,exit_time,device,user_id,entry_time_month,entry_time_hour,active_period,exit_time_hour,day_of_week
0,2023-01-01,19:24:53,20:52:53,Tablet,OPjXgj1U,1,19,0 days 01:28:00,20,Sunday
1,2023-01-02,12:36:18,14:19:18,Mobile,q0bmB5Ty,1,12,0 days 01:43:00,14,Monday
2,2023-01-02,14:53:57,15:38:57,Tablet,ONQuwiIc,1,14,0 days 00:45:00,15,Monday
3,2023-01-02,21:59:46,23:18:46,Desktop,JFTGhGxj,1,21,0 days 01:19:00,23,Monday
4,2023-01-03,07:52:57,09:37:57,Desktop,IayiHcTG,1,7,0 days 01:45:00,9,Tuesday

In [68]:
df_monthly_active = pd.DataFrame(df_platform_log.groupby('entry_time_month')['date'].count().reset_index())
df_monthly_active.columns = 'Month', 'Sessions'

df_daily_active = pd.DataFrame(df_platform_log.groupby('entry_time_hour')['date'].count().reset_index())
df_daily_active.columns = 'Hour', 'Sessions'

df_daily_active

    Hour  Sessions
0      7        54
1      8        66
2      9        53
3     10        69
4     11        55
5     12        71
6     13        54
7     14        58
8     15        80
9     16        58
10    17        59
11    18        73
12    19        71
13    20        63
14    21        56
15    22        60

In [69]:
df_monthly_active

    Month  Sessions
0       1        92
1       2        69
2       3       110
3       4        73
4       5        73
5       6        89
6       7        82
7       8        91
8       9        74
9      10        74
10     11        89
11     12        84

In [42]:
df_platform_log['entry_time'] = pd.to_datetime(df_platform_log['entry_time'], format='%H:%M:%S')
df_platform_log['exit_time'] = pd.to_datetime(df_platform_log['exit_time'], format= '%H:%M:%S')
df_platform_log['active_period'] = df_platform_log['exit_time'] - df_platform_log['entry_time']

print(df_platform_log['entry_time'].dtype, ',', df_platform_log['exit_time'].dtype, ',', df_platform_log['active_period'].dtype)

datetime64[ns] , datetime64[ns] , timedelta64[ns]